In [2]:
#Team 1 Joint Notebook for Project 3

In [3]:
#pip install dash

In [4]:
#import dependencies 
from dash import Dash, dcc, html, Input, Output, ctx
import pandas as pd
import plotly.express as px
import pymongo
from pymongo import MongoClient
import json
from pprint import pprint
import yfinance as yf
import time

In [5]:
#Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["Project3DB"]  # Database name
collectionBiden = db["Biden"]  # Biden Collection Name
collectionTrump = db["Trump"] # Trump collection Name

In [6]:
#Verify collections
print(db.list_collection_names())

['Biden', 'Trump']

In [7]:
#attempted to query the datbase to create a list for AAPL stock values
AAPLquery = {'Ticker':{'$eq': 'AAPL'}}
fields = {'Stock Data.Date', 'Stock Data.Close'}

sort = [('Date', 1)]

resultsBidenAAPL = list(collectionBiden.find(AAPLquery, fields).sort(sort))
#pprint(resultsBidenAAPL)
BidenAAPLdf = pd.DataFrame(resultsBidenAAPL)
BidenAAPLdf.head()

                        _id                                         Stock Data
0  67acdfba21cb5534fcf06028  [{'Date': '2021-01-20', 'Close': 128.964416503...

In [8]:
AAPLquery = {'Ticker':{'$eq': 'AAPL'}}
fields = {'Stock Data.Date', 'Stock Data.Close'}

sort = [('Date', 1)]

resultsTrumpAAPL = list(collectionTrump.find(AAPLquery, fields).sort(sort))
pprint(resultsTrumpAAPL)

[{'Stock Data': [{'Close': 27.752822875976562, 'Date': '2017-01-20'},
                 {'Close': 27.77132797241211, 'Date': '2017-01-23'},
                 {'Close': 27.745885848999023, 'Date': '2017-01-24'},
                 {'Close': 28.187623977661133, 'Date': '2017-01-25'},
                 {'Close': 28.201499938964844, 'Date': '2017-01-26'},
                 {'Close': 28.203807830810547, 'Date': '2017-01-27'},
                 {'Close': 28.129802703857422, 'Date': '2017-01-30'},
                 {'Close': 28.06505012512207, 'Date': '2017-01-31'},
                 {'Close': 29.776477813720703, 'Date': '2017-02-01'},
                 {'Close': 29.725589752197266, 'Date': '2017-02-02'},
                 {'Close': 29.852798461914062, 'Date': '2017-02-03'},
                 {'Close': 30.132633209228516, 'Date': '2017-02-06'},
                 {'Close': 30.41941261291504, 'Date': '2017-02-07'},
                 {'Close': 30.537355422973633, 'Date': '2017-02-08'},
                 {'Close': 30.758026123046875, 'Date': '2017-02-09'},
                 {'Close': 30.68834686279297, 'Date': '2017-02-10'},
                 {'Close': 30.960098266601562, 'Date': '2017-02-13'},
                 {'Close': 31.361940383911133, 'Date': '2017-02-14'},
                 {'Close': 31.475753784179688, 'Date': '2017-02-15'},
                 {'Close': 31.4385929107666, 'Date': '2017-02-16'},
                 {'Close': 31.524534225463867, 'Date': '2017-02-17'},
                 {'Close': 31.75214958190918, 'Date': '2017-02-21'},
                 {'Close': 31.847402572631836, 'Date': '2017-02-22'},
                 {'Close': 31.712669372558594, 'Date': '2017-02-23'},
                 {'Close': 31.742877960205078, 'Date': '2017-02-24'},
                 {'Close': 31.805583953857422, 'Date': '2017-02-27'},
                 {'Close': 31.81952667236328, 'Date': '2017-02-28'},
                 {'Close': 32.46990966796875, 'Date': '2017-03-01'},
                 {'Close': 32.27711868286133, 'Date': '2017-03-02'},
                 {'Close': 32.46758270263672, 'Date': '2017-03-03'},
                 {'Close': 32.36538314819336, 'Date': '2017-03-06'},
                 {'Close': 32.40719223022461, 'Date': '2017-03-07'},
                 {'Close': 32.28641128540039, 'Date': '2017-03-08'},
                 {'Close': 32.21207046508789, 'Date': '2017-03-09'},
                 {'Close': 32.31891632080078, 'Date': '2017-03-10'},
                 {'Close': 32.33285903930664, 'Date': '2017-03-13'},
                 {'Close': 32.28408432006836, 'Date': '2017-03-14'},
                 {'Close': 32.62554168701172, 'Date': '2017-03-15'},
                 {'Close': 32.678955078125, 'Date': '2017-03-16'},
                 {'Close': 32.516357421875, 'Date': '2017-03-17'},
                 {'Close': 32.857818603515625, 'Date': '2017-03-20'},
                 {'Close': 32.481510162353516, 'Date': '2017-03-21'},
                 {'Close': 32.848514556884766, 'Date': '2017-03-22'},
                 {'Close': 32.73237609863281, 'Date': '2017-03-23'},
                 {'Close': 32.66733932495117, 'Date': '2017-03-24'},
                 {'Close': 32.72307586669922, 'Date': '2017-03-27'},
                 {'Close': 33.40132141113281, 'Date': '2017-03-28'},
                 {'Close': 33.47566223144531, 'Date': '2017-03-29'},
                 {'Close': 33.43151092529297, 'Date': '2017-03-30'},
                 {'Close': 33.36880111694336, 'Date': '2017-03-31'},
                 {'Close': 33.37809753417969, 'Date': '2017-04-03'},
                 {'Close': 33.62664794921875, 'Date': '2017-04-04'},
                 {'Close': 33.45243835449219, 'Date': '2017-04-05'},
                 {'Close': 33.36880111694336, 'Date': '2017-04-06'},
                 {'Close': 33.294490814208984, 'Date': '2017-04-07'},
                 {'Close': 33.2549934387207, 'Date': '2017-04-10'},
                 {'Close': 32.897300720214844, 'Date': '2017-04-11'},
                 {'Close': 32.9367790222168, 'Date': '2017-04-12'},
                 {'Close': 32.7625732421875, 'Date': '2017-04-13'},
                 {'Close': 32.94374084472656, 'Date': '2017-04-17'},
                 {'Close': 32.79740524291992, 'Date': '2017-04-18'},
                 {'Close': 32.676631927490234, 'Date': '2017-04-19'},
                 {'Close': 33.0854377746582, 'Date': '2017-04-20'},
                 {'Close': 33.045955657958984, 'Date': '2017-04-21'},
                 {'Close': 33.36417770385742, 'Date': '2017-04-24'},
                 {'Close': 33.57089614868164, 'Date': '2017-04-25'},
                 {'Close': 33.37345504760742, 'Date': '2017-04-26'},
                 {'Close': 33.39899826049805, 'Date': '2017-04-27'},
                 {'Close': 33.366493225097656, 'Date': '2017-04-28'},
                 {'Close': 34.04705810546875, 'Date': '2017-05-01'},
                 {'Close': 34.2630729675293, 'Date': '2017-05-02'},
                 {'Close': 34.15854263305664, 'Date': '2017-05-03'},
                 {'Close': 34.035438537597656, 'Date': '2017-05-04'},
                 {'Close': 34.599884033203125, 'Date': '2017-05-05'},
                 {'Close': 35.54058837890625, 'Date': '2017-05-08'},
                 {'Close': 35.76821517944336, 'Date': '2017-05-09'},
                 {'Close': 35.598663330078125, 'Date': '2017-05-10'},
                 {'Close': 35.906532287597656, 'Date': '2017-05-11'},
                 {'Close': 36.407989501953125, 'Date': '2017-05-12'},
                 {'Close': 36.31468200683594, 'Date': '2017-05-15'},
                 {'Close': 36.26104736328125, 'Date': '2017-05-16'},
                 {'Close': 35.04356384277344, 'Date': '2017-05-17'},
                 {'Close': 35.57766342163086, 'Date': '2017-05-18'},
                 {'Close': 35.69895935058594, 'Date': '2017-05-19'},
                 {'Close': 35.91585922241211, 'Date': '2017-05-22'},
                 {'Close': 35.871543884277344, 'Date': '2017-05-23'},
                 {'Close': 35.76426315307617, 'Date': '2017-05-24'},
                 {'Close': 35.88786697387695, 'Date': '2017-05-25'},
                 {'Close': 35.82724380493164, 'Date': '2017-05-26'},
                 {'Close': 35.841224670410156, 'Date': '2017-05-30'},
                 {'Close': 35.628971099853516, 'Date': '2017-05-31'},
                 {'Close': 35.72695541381836, 'Date': '2017-06-01'},
                 {'Close': 36.256385803222656, 'Date': '2017-06-02'},
                 {'Close': 35.90187072753906, 'Date': '2017-06-05'},
                 {'Close': 36.02314758300781, 'Date': '2017-06-06'},
                 {'Close': 36.23771667480469, 'Date': '2017-06-07'},
                 {'Close': 36.14908981323242, 'Date': '2017-06-08'},
                 {'Close': 34.747352600097656, 'Date': '2017-06-09'},
                 {'Close': 33.917030334472656, 'Date': '2017-06-12'},
                 {'Close': 34.189918518066406, 'Date': '2017-06-13'},
                 {'Close': 33.85639953613281, 'Date': '2017-06-14'},
                 {'Close': 33.653480529785156, 'Date': '2017-06-15'},
                 {'Close': 33.18235397338867, 'Date': '2017-06-16'},
                 {'Close': 34.13160705566406, 'Date': '2017-06-19'},
                 {'Close': 33.82140350341797, 'Date': '2017-06-20'},
                 {'Close': 34.0219841003418, 'Date': '2017-06-21'},
                 {'Close': 33.96601104736328, 'Date': '2017-06-22'},
                 {'Close': 34.117618560791016, 'Date': '2017-06-23'},
                 {'Close': 34.01033401489258, 'Date': '2017-06-26'},
                 {'Close': 33.52287292480469, 'Date': '2017-06-27'},
                 {'Close': 34.012657165527344, 'Date': '2017-06-28'},
                 {'Close': 33.51121520996094, 'Date': '2017-06-29'},
                 {'Close': 33.59051513671875, 'Date': '2017-06-30'},
                 {'Close': 33.46921920776367, 'Date': '2017-07-03'},
                 {'Close': 33.60683059692383, 'Date': '2017-07-05'},
                 {'Close': 33.28963088989258, 'Date': '2017-07-06'},
                 {'Close': 33.62782287597656, 'Date': '2017-07-07'},
                 {'Close': 33.83307647705078, 'Date': '2017-07-10'},
                 {'Close': 33.94269943237305, 'Date': '2017-07-11'},
                 {'Close': 33.991676330566406, 'Date': '2017-07-12'},
                 {'Close': 34.46514892578125, 'Date': '2017-07-13'},
                 {'Close': 34.7613525390625, 'Date': '2017-07-14'},
                 {'Close': 34.882633209228516, 'Date': '2017-07-17'},
                 {'Close': 35.00392150878906, 'Date': '2017-07-18'},
                 {'Close': 35.22316360473633, 'Date': '2017-07-19'},
                 {'Close': 35.06455993652344, 'Date': '2017-07-20'},
                 {'Close': 35.04823684692383, 'Date': '2017-07-21'},
                 {'Close': 35.47270965576172, 'Date': '2017-07-24'},
                 {'Close': 35.62431716918945, 'Date': '2017-07-25'},
                 {'Close': 35.7922477722168, 'Date': '2017-07-26'},
                 {'Close': 35.11585998535156, 'Date': '2017-07-27'},
                 {'Close': 34.86863708496094, 'Date': '2017-07-28'},
                 {'Close': 34.68905258178711, 'Date': '2017-07-31'},
                 {'Close': 34.996910095214844, 'Date': '2017-08-01'},
                 {'Close': 36.650550842285156, 'Date': '2017-08-02'},
                 {'Close': 36.28437423706055, 'Date': '2017-08-03'},
                 {'Close': 36.475616455078125, 'Date': '2017-08-04'},
                 {'Close': 37.0400505065918, 'Date': '2017-08-07'},
                 {'Close': 37.336265563964844, 'Date': '2017-08-08'},
                 {'Close': 37.56482696533203, 'Date': '2017-08-09'},
                 {'Close': 36.368324279785156, 'Date': '2017-08-10'},
                 {'Close': 36.87408447265625, 'Date': '2017-08-11'},
                 {'Close': 37.42902755737305, 'Date': '2017-08-14'},
                 {'Close': 37.83879470825195, 'Date': '2017-08-15'},
                 {'Close': 37.686580657958984, 'Date': '2017-08-16'},
                 {'Close': 36.96307373046875, 'Date': '2017-08-17'},
                 {'Close': 36.87877655029297, 'Date': '2017-08-18'},
                 {'Close': 36.81086349487305, 'Date': '2017-08-21'},
                 {'Close': 37.41263198852539, 'Date': '2017-08-22'},
                 {'Close': 37.4594612121582, 'Date': '2017-08-23'},
                 {'Close': 37.293212890625, 'Date': '2017-08-24'},
                 {'Close': 37.43136978149414, 'Date': '2017-08-25'},
                 {'Close': 37.80834197998047, 'Date': '2017-08-28'},
                 {'Close': 38.14554214477539, 'Date': '2017-08-29'},
                 {'Close': 38.24856185913086, 'Date': '2017-08-30'},
                 {'Close': 38.400760650634766, 'Date': '2017-08-31'},
                 {'Close': 38.4124641418457, 'Date': '2017-09-01'},
                 {'Close': 37.951175689697266, 'Date': '2017-09-05'},
                 {'Close': 37.91136932373047, 'Date': '2017-09-06'},
                 {'Close': 37.759178161621094, 'Date': '2017-09-07'},
                 {'Close': 37.14335250854492, 'Date': '2017-09-08'},
                 {'Close': 37.81538009643555, 'Date': '2017-09-11'},
                 {'Close': 37.665523529052734, 'Date': '2017-09-12'},
                 {'Close': 37.382198333740234, 'Date': '2017-09-13'},
                 {'Close': 37.06141662597656, 'Date': '2017-09-14'},
                 {'Close': 37.436058044433594, 'Date': '2017-09-15'},
                 {'Close': 37.15273666381836, 'Date': '2017-09-18'},
                 {'Close': 37.16677474975586, 'Date': '2017-09-19'},
                 {'Close': 36.54393768310547, 'Date': '2017-09-20'},
                 {'Close': 35.91642761230469, 'Date': '2017-09-21'},
                 {'Close': 35.56517028808594, 'Date': '2017-09-22'},
                 {'Close': 35.251426696777344, 'Date': '2017-09-25'},
                 {'Close': 35.85788345336914, 'Date': '2017-09-26'},
                 {'Close': 36.113101959228516, 'Date': '2017-09-27'},
                 {'Close': 35.89065170288086, 'Date': '2017-09-28'},
                 {'Close': 36.087337493896484, 'Date': '2017-09-29'},
                 {'Close': 36.014766693115234, 'Date': '2017-10-02'},
                 {'Close': 36.17163848876953, 'Date': '2017-10-03'},
                 {'Close': 35.93748474121094, 'Date': '2017-10-04'},
                 {'Close': 36.38471984863281, 'Date': '2017-10-05'},
                 {'Close': 36.36363983154297, 'Date': '2017-10-06'},
                 {'Close': 36.49008560180664, 'Date': '2017-10-09'},
                 {'Close': 36.504119873046875, 'Date': '2017-10-10'},
                 {'Close': 36.65633010864258, 'Date': '2017-10-11'},
                 {'Close': 36.52754211425781, 'Date': '2017-10-12'},
                 {'Close': 36.75935363769531, 'Date': '2017-10-13'},
                 {'Close': 37.436058044433594, 'Date': '2017-10-16'},
                 {'Close': 37.57420349121094, 'Date': '2017-10-17'},
                 {'Close': 37.4079475402832, 'Date': '2017-10-18'},
                 {'Close': 36.52284240722656, 'Date': '2017-10-19'},
                 {'Close': 36.586082458496094, 'Date': '2017-10-20'},
                 {'Close': 36.56734848022461, 'Date': '2017-10-23'},
                 {'Close': 36.78511047363281, 'Date': '2017-10-24'},
                 {'Close': 36.62353515625, 'Date': '2017-10-25'},
                 {'Close': 36.85769271850586, 'Date': '2017-10-26'},
                 {'Close': 38.17831802368164, 'Date': '2017-10-27'},
                 {'Close': 39.03764724731445, 'Date': '2017-10-30'},
                 {'Close': 39.580867767333984, 'Date': '2017-10-31'},
                 {'Close': 39.077449798583984, 'Date': '2017-11-01'},
                 {'Close': 39.363121032714844, 'Date': '2017-11-02'},
                 {'Close': 40.391029357910156, 'Date': '2017-11-03'},
                 {'Close': 40.80080795288086, 'Date': '2017-11-06'},
                 {'Close': 40.931922912597656, 'Date': '2017-11-07'},
                 {'Close': 41.266761779785156, 'Date': '2017-11-08'},
                 {'Close': 41.18245315551758, 'Date': '2017-11-09'},
                 {'Close': 41.04616928100586, 'Date': '2017-11-10'},
                 {'Close': 40.88167953491211, 'Date': '2017-11-13'},
                 {'Close': 40.26363754272461, 'Date': '2017-11-14'},
                 {'Close': 39.732566833496094, 'Date': '2017-11-15'},
                 {'Close': 40.207244873046875, 'Date': '2017-11-16'},
                 {'Close': 39.984004974365234, 'Date': '2017-11-17'},
                 {'Close': 39.94405746459961, 'Date': '2017-11-20'},
                 {'Close': 40.68662643432617, 'Date': '2017-11-21'},
                 {'Close': 41.11431884765625, 'Date': '2017-11-22'},
                 {'Close': 41.11666488647461, 'Date': '2017-11-24'},
                 {'Close': 40.90987014770508, 'Date': '2017-11-27'},
                 {'Close': 40.670188903808594, 'Date': '2017-11-28'},
                 {'Close': 39.826541900634766, 'Date': '2017-11-29'},
                 {'Close': 40.38349151611328, 'Date': '2017-11-30'},
                 {'Close': 40.195499420166016, 'Date': '2017-12-01'},
                 {'Close': 39.901763916015625, 'Date': '2017-12-04'},
                 {'Close': 39.864158630371094, 'Date': '2017-12-05'},
                 {'Close': 39.71611022949219, 'Date': '2017-12-06'},
                 {'Close': 39.78895950317383, 'Date': '2017-12-07'},
                 {'Close': 39.80071258544922, 'Date': '2017-12-08'},
                 {'Close': 40.57618713378906, 'Date': '2017-12-11'},
                 {'Close': 40.34825134277344, 'Date': '2017-12-12'},
                 {'Close': 40.48219299316406, 'Date': '2017-12-13'},
                 {'Close': 40.470436096191406, 'Date': '2017-12-14'},
                 {'Close': 40.88167953491211, 'Date': '2017-12-15'},
                 {'Close': 41.45741271972656, 'Date': '2017-12-18'},
                 {'Close': 41.01561737060547, 'Date': '2017-12-19'},
                 {'Close': 40.97096633911133, 'Date': '2017-12-20'},
                 {'Close': 41.126068115234375, 'Date': '2017-12-21'},
                 {'Close': 41.126068115234375, 'Date': '2017-12-22'},
                 {'Close': 40.08271408081055, 'Date': '2017-12-26'},
                 {'Close': 40.089744567871094, 'Date': '2017-12-27'},
                 {'Close': 40.202537536621094, 'Date': '2017-12-28'},
                 {'Close': 39.76780700683594, 'Date': '2017-12-29'}],
  '_id': ObjectId('67acdfcf21cb5534fcf0603c')}]

In [1]:
#calling on Yahoo finance for top 5 market cap us companies
dataTrumpUS = yf.download("AAPL NVDA MSFT AMZN GOOG", start="2017-01-20",
                    end="2017-12-31", group_by='tickers')

dataTrumpUS

NameError: name 'yf' is not defined

In [ ]:
#calling on Yahoo finance for top 5 market cap non-US companies
dataTrumpOUS = yf.download("TSM SSNLF ASML TCEHY BABA", start="2017-01-20",
                    end="2017-12-31", group_by='tickers')
dataTrumpOUS

[*********************100%***********************]  5 of 5 completed

Ticker          TCEHY                                                   SSNLF  \
Price            Open       High        Low      Close   Volume          Open
Date
2017-01-20  23.427745  23.519619  23.289935  23.381809   694600  9.217006e+29
2017-01-23  23.409368  23.565553  23.335869  23.519617   559600  9.217006e+29
2017-01-24  23.675804  23.868738  23.611493  23.666616   829000  1.032305e+30
2017-01-25  23.776864  24.043298  23.776864  23.997362   778400  1.032305e+30
2017-01-26  24.282172  24.401607  24.153550  24.355671   882200  1.032305e+30
...               ...        ...        ...        ...      ...           ...
2017-12-22  47.877644  48.135495  47.518490  48.089451  1723300 -8.130177e+28
2017-12-26  48.163117  48.236791  47.886848  47.932892  1291000 -8.130177e+28
2017-12-27  47.361940  47.730302  47.343522  47.454029  1704000  9.644538e+27
2017-12-28  48.236790  48.255208  47.693458  47.794758  1742700  9.644538e+27
2017-12-29  48.071030  48.071030  47.684250  47.813175  1646500  9.644538e+27

Ticker                                                       ...        TSM  \
Price               High           Low         Close Volume  ...       Open
Date                                                         ...
2017-01-20  9.217006e+29  9.217006e+29  9.217006e+29      0  ...  23.989141
2017-01-23  9.217006e+29  9.217006e+29  9.217006e+29      0  ...  24.547971
2017-01-24  1.032305e+30  1.032305e+30  1.032305e+30   4800  ...  24.726143
2017-01-25  1.032305e+30  1.032305e+30  1.032305e+30      0  ...  25.187787
2017-01-26  1.032305e+30  1.032305e+30  1.032305e+30      0  ...  25.317367
...                  ...           ...           ...    ...  ...        ...
2017-12-22 -8.130177e+28 -8.130177e+28 -8.130177e+28      0  ...  33.116896
2017-12-26 -8.130177e+28 -8.130177e+28 -8.130177e+28      0  ...  32.874374
2017-12-27  9.644538e+27  9.644538e+27  9.644538e+27      0  ...  32.615118
2017-12-28  9.644538e+27  9.644538e+27  9.644538e+27      0  ...  33.041637
2017-12-29  9.644538e+27  9.644538e+27  9.644538e+27      0  ...  33.325969

Ticker                                                      BABA              \
Price            High        Low      Close   Volume        Open        High
Date
2017-01-20  24.507475  23.948645  24.353594  7399400   93.146256   93.822283
2017-01-23  24.693752  24.466981  24.564169  6959800   93.175240   95.290220
2017-01-24  25.025804  24.709944  24.961012  7213600   99.616766   99.655397
2017-01-25  25.374063  25.058203  25.357864  8025800   98.950397  100.698396
2017-01-26  25.471248  25.114893  25.195883  8308700  100.360383  100.988120
...               ...        ...        ...      ...         ...         ...
2017-12-22  33.141987  32.866011  33.141987  2523600  169.816882  170.608801
2017-12-26  32.874374  32.456231  32.573311  2861500  168.571067  169.150506
2017-12-27  32.707110  32.514764  32.682022  3092900  166.388481  167.914363
2017-12-28  33.359427  32.949649  33.233986  4279500  167.112791  167.586012
2017-12-29  33.635397  33.158714  33.158714  3870900  166.378826  167.721213

Ticker
Price              Low       Close    Volume
Date
2017-01-20   92.393940   92.769615   9685800
2017-01-23   92.962774   95.039131  14090300
2017-01-24   96.516720   97.955681  37181500
2017-01-25   98.409581  100.495590  23322800
2017-01-26   98.670326   99.230461  12504800
...                ...         ...       ...
2017-12-22  169.044282  170.251465  12524700
2017-12-26  165.847655  166.427109  12913800
2017-12-27  165.847665  167.045197  10152300
2017-12-28  165.789722  166.398148   9508100
2017-12-29  165.335817  166.523682   9704600

[239 rows x 25 columns]

In [ ]:
tickers_data = {}
tickers_list = ["AAPL", "NVDA", "MSFT", "AMZN", "GOOG", "TSM", "SSNLF", "ASML", "TCEHY", "BABA"]
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'AAPL':              Attribute              Recent
 0             address1  One Apple Park Way
 1                 city           Cupertino
 2                state                  CA
 3                  zip               95014
 4              country       United States
 ..                 ...                 ...
 125       grossMargins             0.46206
 126      ebitdaMargins             0.34437
 127   operatingMargins             0.31171
 128  financialCurrency                 USD
 129   trailingPegRatio               2.153

 [130 rows x 2 columns],
 'NVDA':              Attribute                     Recent
 0             address1  2788 San Tomas Expressway
 1                 city                Santa Clara
 2                state                         CA
 3                  zip                      95051
 4              country              United States
 ..                 ...                        ...
 125       grossMargins                    0.75976
 126      ebitdaMargins                     0.6353
 127   operatingMargins                    0.62057
 128  financialCurrency                        USD
 129   trailingPegRatio                     0.9518

 [130 rows x 2 columns],
 'MSFT':              Attribute             Recent
 0             address1  One Microsoft Way
 1                 city            Redmond
 2                state                 WA
 3                  zip         98052-6399
 4              country      United States
 ..                 ...                ...
 125       grossMargins            0.69349
 126      ebitdaMargins             0.5372
 127   operatingMargins            0.46584
 128  financialCurrency                USD
 129   trailingPegRatio              2.143

 [130 rows x 2 columns],
 'AMZN':              Attribute                  Recent
 0             address1  410 Terry Avenue North
 1                 city                 Seattle
 2                state                      WA
 3                  zip              98109-5210
 4              country           United States
 ..                 ...                     ...
 118       grossMargins                 0.48406
 119      ebitdaMargins                 0.17994
 120   operatingMargins                 0.10959
 121  financialCurrency                     USD
 122   trailingPegRatio                  1.8452

 [123 rows x 2 columns],
 'GOOG':              Attribute                     Recent
 0             address1  1600 Amphitheatre Parkway
 1                 city              Mountain View
 2                state                         CA
 3                  zip                      94043
 4              country              United States
 ..                 ...                        ...
 116       grossMargins                    0.58127
 117      ebitdaMargins                     0.3633
 118   operatingMargins                    0.32312
 119  financialCurrency                        USD
 120   trailingPegRatio                     1.3487

 [121 rows x 2 columns],
 'TSM':              Attribute                 Recent
 0             address1   Hsinchu Science Park
 1             address2  No. 8, Li-Hsin Road 6
 2                 city           Hsinchu City
 3                  zip                 300096
 4              country                 Taiwan
 ..                 ...                    ...
 118       grossMargins                0.54453
 119      ebitdaMargins                 0.6779
 120   operatingMargins                0.47488
 121  financialCurrency                    TWD
 122   trailingPegRatio                 1.4235

 [123 rows x 2 columns],
 'SSNLF':                 Attribute                     Recent
 0                address1             129 Samsung-Ro
 1                address2  Maetan-3dong Yeongtong-gu
 2                    city                      Suwon
 3                     zip                    443-742
 4                 country                South Korea
 ..                    ...                        ...
 73  gmtOffSetMilliseconds                  -18000000
 74           currentPrice                    40.5999
 75      recommendationKey                       none
 76      financialCurrency                        KRW
 77       trailingPegRatio                       None

 [78 rows x 2 columns],
 'ASML':              Attribute           Recent
 0             address1      De Run 6501
 1                 city        Veldhoven
 2                  zip          5504 DR
 3              country      Netherlands
 4                phone  31 48 0235 0934
 ..                 ...              ...
 118       grossMargins          0.51147
 119      ebitdaMargins           0.3379
 120   operatingMargins          0.32692
 121  financialCurrency              EUR
 122   trailingPegRatio           1.5784

 [123 rows x 2 columns],
 'TCEHY':                   Attribute                                    Recent
 0                  address1                     Tencent Binhai Towers
 1                  address2  No. 33 Haitian 2nd Road Nanshan District
 2                      city                                  Shenzhen
 3                       zip                                    518054
 4                   country                                     China
 ..                      ...                                       ...
 82        recommendationKey                                      none
 83  numberOfAnalystOpinions                                         2
 84          revenuePerShare                                    64.412
 85        financialCurrency                                       CNY
 86         trailingPegRatio                                    0.6435

 [87 rows x 2 columns],
 'BABA':              Attribute                Recent
 0             address1  969 West Wen Yi Road
 1             address2      Yu Hang District
 2                 city              Hangzhou
 3                  zip                311121
 4              country                 China
 ..                 ...                   ...
 116       grossMargins               0.37902
 117      ebitdaMargins               0.18584
 118   operatingMargins               0.16089
 119  financialCurrency                   CNY
 120   trailingPegRatio                0.7444

 [121 rows x 2 columns]}

In [ ]:
combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

     level_0  level_1          Attribute              Recent
0       AAPL        0           address1  One Apple Park Way
1       AAPL        1               city           Cupertino
2       AAPL        2              state                  CA
3       AAPL        3                zip               95014
4       AAPL        4            country       United States
...      ...      ...                ...                 ...
1161    BABA      116       grossMargins             0.37902
1162    BABA      117      ebitdaMargins             0.18584
1163    BABA      118   operatingMargins             0.16089
1164    BABA      119  financialCurrency                 CNY
1165    BABA      120   trailingPegRatio              0.7444

[1166 rows x 4 columns]